<form method="get" class="search">
    <label for="searchbar">Search:</label>
    <input type="text" id="searchbar" name="user">
    <button type="submit" class="searchbutton"><img src="search.svg"></button>
</form>