:root {
    font-family:'Courier New', Courier, monospace;
    --bg-colour: rgb(213, 146, 136);
    --alt-colour: rgb(230, 233, 236);
    --warning: rgb(163, 75, 75);
}

body {
    background-color: var(--bg-colour);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--alt-colour);
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100dvw;
}

form label {
    margin-top: 1rem;
}

fieldset {
    display: flex;
    border: solid 1px black;
    border-radius: 5px;
}

.users-pane ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.users-pane ul li {
    background-color: var(--bg-colour);
    margin: 1rem;
    padding: 1rem; 
    border-radius: 5px;
}

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.users-pane .buttons {
    justify-self: end;
}

.search {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: white;
    padding: 0 0 0 1rem ;
}

.search label {
    margin: 0;
    align-self: center;
}

.search input {
    flex:1;
    border-radius: 0;
    padding: .5rem 1rem;
    border: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
}

.searchbutton {
    width: fit-content;
    height:fit-content;
    border: 0;
    background-color: var(--bg-colour);
    border-radius: 2rem 5px 5px 2rem ;
    padding: 1rem 3rem 1rem 1rem;
}

fieldset>span {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.info {
    margin: 0 0 1rem;
    color: var(--warning)
}

span label {
    margin-top: 0;
}

header a {
    width: 12rem;
}

.message p {
    margin: 1rem 2rem;
    font-size: 1.5rem;
}

.message p:first-child {
    margin: 1rem 1rem 0;
    font-size: 1rem;
}

.message p:last-of-type {
    margin: 1rem 2rem 3rem;
    font-size: 1rem;
    text-align: right;
}

ul.info-pane {
    padding-left: 2rem;
    box-sizing: border-box;
    color: var(--warning)
}

.message, 
form,
.users-pane,
.info-pane {
    background-color: var(--alt-colour);
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: min(720px, 90%);
    border: solid 1px black;
}

textarea {
    margin-bottom: 1rem;
}

a, 
button {
    background-color: var(--bg-colour);
    color: var(--alt-colour);
    padding: .5rem;
    border-radius: 5px;
    align-self: center;
    text-decoration: none;
    text-align: center;
    width: 12rem;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: .8rem;
    border: solid 1px black;
}

a {
    display: block;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

label span {
    color: var(--warning)
}

a:hover, 
button:hover {
    filter: brightness(105%);
}

.short-message {
    list-style: none;
}

.short-message li:first-child {
    font-size: 1.5rem;
    margin: 1rem;
}

.short-message li:nth-child(2) {
    margin: 1rem 0;
}